{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<main class="bg-lime-900 min-h-screen flex flex-col">
    <div class="bg-gray-700 bg-opacity-40">
        <header class="">
            {{ include('Includes/Header/index.html.twig') }}
        </header>

        <div class="flex items-center justify-center pt-8 px-6">
            <div class="w-full max-w-md p-14 bg-white rounded-3xl border-2 border-gray-500 shadow-lg my-10 bg-opacity-20">
                <h1 class="text-2xl font-bold text-white mb-4 text-center">Inscription</h1>

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="bg-red-500 text-white p-4 rounded-lg mb-6" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_start(registrationForm) }}

                {% if form_errors(registrationForm) %}
                    <div class="bg-red-500 text-white p-4 rounded-lg mb-6">
                        {{ form_errors(registrationForm) }}
                    </div>
                {% endif %}

                <div class="space-y-4">
                    <div>
                        {{ form_label(registrationForm.prenom, 'Prénom', {'label_attr': {'class': 'block text-white text-sm font-medium mb-1'}}) }}
                        {{ form_widget(registrationForm.prenom, {'attr': {'class': 'w-full p-2 bg-lime-100 text-black rounded-lg'}}) }}
                    </div>

                    <div>
                        {{ form_label(registrationForm.nom, 'Nom', {'label_attr': {'class': 'block text-white text-sm font-medium mb-1'}}) }}
                        {{ form_widget(registrationForm.nom, {'attr': {'class': 'w-full p-2 bg-lime-100 text-black rounded-lg'}}) }}
                    </div>

                    <div>
                        {{ form_label(registrationForm.adresse, 'Adresse', {'label_attr': {'class': 'block text-white text-sm font-medium mb-1'}}) }}
                        {{ form_widget(registrationForm.adresse, {'attr': {'class': 'w-full p-2 bg-lime-100 text-black rounded-lg autocomplete-address', 'id': 'registration_form_adresse'}}) }}
                        <div id="suggestions-box" class="suggestions"></div>
                    </div>

                    <div>
                        {{ form_label(registrationForm.telephone, 'Téléphone', {'label_attr': {'class': 'block text-white text-sm font-medium mb-1'}}) }}
                        {{ form_widget(registrationForm.telephone, {'attr': {'class': 'w-full p-2 bg-lime-100 text-black rounded-lg'}}) }}
                    </div>

                    <div>
                        {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'block text-white text-sm font-medium mb-1'}}) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'w-full p-2 bg-lime-100 text-black rounded-lg'}}) }}
                    </div>

                    <div>
                        {{ form_label(registrationForm.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'block text-white text-sm font-medium mb-1'}}) }}
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'w-full p-2 bg-lime-100 text-black rounded-lg'}}) }}
                    </div>

                    <div>
                        {{ form_label(registrationForm.plainPassword.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'block text-white text-sm font-medium mb-1'}}) }}
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'w-full p-2 bg-lime-100 text-black rounded-lg'}}) }}
                    </div>

                    <div>
                        {{ form_label(registrationForm.role, 'Vous êtes?', {'label_attr': {'class': 'block text-white text-sm font-medium mb-1'}}) }}
                        {{ form_widget(registrationForm.role, {'attr': {'class': 'w-full text-white rounded-lg'}}) }}
                    </div>

                    <div>
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'mr-2', 'id': 'registration_form_agreeTerms'}}) }}
                        <label for="registration_form_agreeTerms" class="text-white text-sm">{{ form_label(registrationForm.agreeTerms, 'Accepter les conditions') }}</label>
                    </div>
                </div>

                <button class="w-full py-2 px-4 bg-lime-100 text-lime-900 hover:text-lime-100 font-bold rounded-lg shadow-md hover:bg-lime-900 transition-colors duration-300 mt-4" type="submit">
                    S'inscrire
                </button>

                {{ form_end(registrationForm) }}
            </div>
        </div>
        <footer class="">
            {{ include('Includes/Footer/index.html.twig') }}
        </footer>
    </div>
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../assets/js/adresse.js') }}"></script>
{% endblock %}
