{% extends 'base.html.twig' %}

{% block title %}PureCommande index{% endblock %}

{% block body %}
    <h1>PureCommande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCommande</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pure_commande in pure_commandes %}
            <tr>
                <td>{{ pure_commande.id }}</td>
                <td>{{ pure_commande.dateCommande }}</td>
                <td>{{ pure_commande.total }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': pure_commande.id}) }}">show</a>
                    <a href="{{ path('commande_edit', {'id': pure_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_new') }}">Create new</a>
{% endblock %}
