{% extends 'base.html.twig' %}

{% block title %}PureAnnonce{% endblock %}

{% block body %}
    <h1>PureAnnonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pure_annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ pure_annonce.titre }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ pure_annonce.quantite }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pure_annonce.description }}</td>
            </tr>
            <tr>
                <th>Approuve</th>
                <td>{{ pure_annonce.approuve ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annonce_index') }}">back to list</a>

    <a href="{{ path('annonce_edit', {'id': pure_annonce.id}) }}">edit</a>

    {{ include('pure_annonce/_delete_form.html.twig') }}
{% endblock %}
