{% extends 'dashboard/vendeur.html.twig' %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-extrabold mb-6 text-yellow-500">Mes Annonces</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {% for data in annoncesData %}
            <div class="p-4 bg-gray-900 rounded-xl shadow-lg hover:shadow-2xl transition duration-300">
                <h2 class="text-xl text-yellow-400 font-semibold mb-2">{{ data.annonce.nom }}</h2>
                <div class="mb-4">
                    <img src="{{ asset(data.imagePath) }}" alt="{{ data.annonce.nom }}" class="w-full h-32 object-cover rounded-lg">
                    <p class="text-gray-300"><span class="font-bold text-white">Description :</span> {{ data.annonce.description | nl2br }}</p>
                    <p class="text-gray-300"><span class="font-bold text-white">Date de publication :</span> {{ data.annonce.dateCreation ? data.annonce.dateCreation|date('d M Y, H:i') : 'Non publiée' }}</p>
                </div>

                <div class="mb-6">
                    <span class="text-gray-300 font-bold">Statut :</span>
                    {% if data.annonce.approuvee %}
                        <span class="text-green-500 font-bold">Approuvée</span>
                    {% else %}
                        <span class="text-red-500 font-bold">En attente d'approbation</span>
                    {% endif %}
                </div>
                
                <a href="{{ path('annonce_edit', {'id': data.annonce.id}) }}" class="block w-full text-center py-2 bg-yellow-500 text-black font-bold rounded-lg hover:bg-yellow-400 transition duration-300">Modifier</a>
            </div>
        {% else %}
            <p class="col-span-3 text-center text-white text-lg">Vous n'avez pas encore d'annonces.</p>
        {% endfor %}
    </div>
    <a href="{{ path('annonce_new') }}" class="mt-6 inline-block py-2 px-4 bg-yellow-500 text-black rounded-lg hover:bg-yellow-400 transition duration-300">Créer une nouvelle annonce</a>
</div>
{% endblock %}
