{% extends 'dashboard/vendeur_dashboard/index.html.twig' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-extrabold mb-6 text-yellow-500">Mes Annonces</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for data in annoncesData %}
                <div class="p-6 bg-gray-900 rounded-xl shadow-xl hover:shadow-2xl transition duration-300">
                <h2 class="text-2xl text-yellow-400 font-semibold mb-4">{{ data.annonce.titre }}</h2>
                <div class="mb-4">
                <img src="{{ asset(data.imagePath) }}" alt="{{ data.annonce.pureProduit.nom }}" class="md:w-full md:h-auto w-64 h-64 rounded-lg mt-4">
                    <p class="text-gray-300"><span class="font-bold text-white">Quantité :</span> {{ data.annonce.quantite }}</p>
                    <p class="text-gray-300"><span class="font-bold text-white">Description :</span> {{ data.annonce.description | nl2br }}</p>
                    <p class="text-gray-300"><span class="font-bold text-white">Date de publication :</span> {{ data.annonce.datePublication ? data.annonce.datePublication|date('d M Y, H:i') : 'Non publiée' }}</p>
                </div>

                <div class="mb-6">
                    <span class="text-gray-300 font-bold">Statut :</span>
                    {% if data.annonce.approuve %}
                        <span class="text-green-500 font-bold">Approvée</span>
                    {% else %}
                        <span class="text-red-500 font-bold">En attente d'approbation</span>
                    {% endif %}
                </div>
                
                <a href="{{ path('annonce_edit', {'id': data.annonce.id}) }}" class="block w-full text-center py-2 bg-yellow-500 text-black font-bold rounded-lg hover:bg-yellow-400 transition duration-300">Modifier</a>
            </div>
        {% else %}
            <p class="col-span-3 text-center text-white text-lg">Vous n'avez pas encore d'annonces.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
