{% extends 'base.html.twig' %}

{% block title %}Mise à jour du profil{% endblock %}
{% block body %}
<header class="bg-lime-900">
    {{ include('Includes/Header/index.html.twig') }}
</header>

<main class="bg-lime-900 min-h-screen p-6">
    <div class="max-w-lg mx-auto bg-gray-700 bg-opacity-60 rounded-lg shadow-lg p-6">
        <h1 class="text-3xl sm:text-4xl font-bold text-yellow-400 mb-6">Mise à jour du profil</h1>
        
        {{ form_start(form) }}

        {% if form_errors(form) %}
            <div class="bg-red-600 text-white p-4 rounded-lg mb-6">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="space-y-6">
            {% for field in form %}
                {% if field.vars.name != '_token' %}
                    <div>
                        {{ form_label(field, null, {'label_attr': {'class': 'block text-gray-300 text-sm font-semibold mb-1'}}) }}
                        {{ form_widget(field, {'attr': {'class': 'w-full p-3 bg-gray-700 text-white rounded-lg shadow-md focus:ring-2 focus:ring-yellow-500 focus:outline-none'}}) }}

                        {% if field.vars.errors|length > 0 %}
                            <div class="text-red-600">
                                {% for error in field.vars.errors %}
                                    <p>{{ error.message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="mt-8">
            <button type="submit" class="px-5 py-3 bg-yellow-500 text-gray-900 rounded-lg shadow-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-700">
                Sauvegarder
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</main>

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../assets/js/adresse.js') }}"></script>
{% endblock %}

<footer class="bg-lime-900">
    {{ include('Includes/Footer/index.html.twig') }}
</footer>
{% endblock %}

