{% extends 'base.html.twig' %}

{% block title %}PureUser index{% endblock %}

{% block body %}
    <h1>PureUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Rgpd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pure_user in pure_users %}
            <tr>
                <td>{{ pure_user.email }}</td>
                <td>{{ pure_user.roles ? pure_user.roles|json_encode : '' }}</td>
                <td>{{ pure_user.prenom }}</td>
                <td>{{ pure_user.nom }}</td>
                <td>{{ pure_user.telephone }}</td>
                <td>{{ pure_user.adresse }}</td>
                <td>{{ pure_user.rgpd ? pure_user.rgpd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': pure_user.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
